btn($backgroundColor){
    width 116px
    height 54px
    line-height 54px
    text-align center
    border 2px solid $backgroundColor
    color #FFFEFE
    font-size 18px
    background $backgroundColor
}
flexRow(){
    display flex
    flex-flow row nowrap
    align-items center
    justify-content center
}    